<div id="pageEdit" data-role="page" data-title="Edit Appointment">

    <div data-role="header">
        <a data-icon="delete" onclick="history.back();">Cancel</a>
        <h1>Edit</h1>
        <a data-icon="check" data-theme="b">Save</a>
    </div>

	<div data-role="content">

    </div>

	<div data-role="footer">
        <h2 id="currentStatus"></h2>
    </div>

</div>
