<div id="pageAll" data-role="page">

    <div data-role="header">
        <h1>All</h1>
    </div>

	<div data-role="content">

        <ul id="list" data-role="listview">
        </ul>

        <button id="tst">Test</button>

    </div>

	<div data-role="footer">
        <h2 id="currentStatus"></h2>
    </div>

</div>
