<div id="pageMonth" data-role="page" data-title="Month" data-add-back-btn="true">

    <div data-role="header">
        <h1 id="monthTitle">...</h1>
        <a href="#" data-icon="plus" data-theme="b" class="ui-btn-right">New</a>
    </div>

	<div data-role="content">

        <ul id="list" data-role="listview">
            <li><a href="#" data-ajax="false">01 (Wednesday)<span class="ui-li-count">3</span></a></li>
            <li><a href="#" data-ajax="false">23 (Thursday)<span class="ui-li-count">6</span></a></li>
        </ul>

    </div>

	<div data-role="footer">
        <h2 id="currentStatus"></h2>
    </div>

</div>
