<div id="pageMonth" data-role="page" data-title="Month" data-add-back-btn="true">

    <div data-role="header">
        <h1 id="monthTitle">...</h1>
        <a id="new" href="#" data-icon="plus" data-theme="b" class="ui-btn-right">New</a>
    </div>

	<div data-role="content">

        <ul id="list" data-role="listview">
        </ul>

    </div>

	<div data-role="footer">
        <h2 id="currentStatus"></h2>
    </div>

</div>
